<h1>Contact</h1>

<!-- <p><%= number_to_phone "(555)5555555" %></p>

<p><%= number_to_currency "150" %></p>

<p><%= number_to_percentage "53.2" %></p>

<p><%= number_with_delimiter "5616131365165" %></p> -->